.nav-link{
    border-radius: 10px;
    padding: 5px 10px !important;
    margin: 0 18px;
    color: #251D58;
    text-decoration: none !important;
    cursor: pointer;
    /* margin-left: 20px; */
    /* margin: 0 auto !important; */
}
.nav-link:hover, .btn-brand, .bg-special{
    background-image: linear-gradient(90deg,#251D58, #6350dd) !important;
    color: white !important;
    z-index: 999 !important;
}

