.bg-brand{
    background-image: linear-gradient(360deg, #9FE2FE, #C8EDFE);
}
.clip-up{
    clip-path: polygon(96% 4%, 100% 0, 100% 100%, 72% 100%, 0 100%, 0 0, 4% 4%);
}
.clip-down{
    /* clip-path: polygon(1% 0, 100% 0, 100% 86%, 0% 100%); */
    /* clip-path: polygon(50% 0%, 100% 0, 100% 99%, 89% 93%, 11% 93%, 0 100%, 0 0); */
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 96% 96%, 4% 96%, 0 100%, 0 0);
}

@media (max-width: 765px){  
    .clip-up{
        clip-path: polygon(90% 1%, 100% 0, 100% 100%, 72% 100%, 0 100%, 0 0, 10% 1%) !important;
    }
    .clip-down{
        /* clip-path: polygon(1% 0, 100% 0, 100% 86%, 0% 100%); */
        /* clip-path: polygon(50% 0%, 100% 0, 100% 99%, 89% 93%, 11% 93%, 0 100%, 0 0); */
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 90% 98%, 10% 98%, 0 100%, 0 0);
    }
}
.bg-brand1{
    /* background-image: linear-gradient(360deg, #C8EDFE, #C8EDFE); */
    background-color:  #96cdf1;
}
.bg-brand2{
    /* background-image: linear-gradient(360deg, #C8EDFE, #C8EDFE); */
    background-color:  #d5dbdf;
}
.color-brand{
    /* background-image: linear-gradient(#2BDE8C, #59E783) !important; */
    background: -webkit-linear-gradient(90deg,#251D58, #34287e);
    /* background: -webkit-linear-gradient(360deg,#6bdba9, #11c246); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    /* color: #59E783 !important; */
}
.floating{
    /*     transition: all 2s; */
    font-family: Poppins;
    font-weight: 800;
    animation: float 1s ease-in-out infinite;
}
    /* .info h4{
    } */
@keyframes float{
    50%{
        transform: scale(1.05);
    }
}

