.payment-form, .review-form{
    width: 40%;
    margin-left: 30px;
}
.review-form{
    height: 79.8vh;
}
@media(max-width: 1023px){
    .payment-form, .review-form{
        width: 100%;
        margin-left: 0;
    }
    .review-form{
        height: fit-content;
    }
    .service-charge{
        text-align: center !important;
    }
}